<div class="jumbotron">
  <h1 class="display-3"><%= @airport.name %></h1>
  <h2><%= @airport.symbol %></h2>

</div>
<%= link_to 'Back', airports_path %>

<% if @data != nil%>

  <%= render 'runway_table' %>

<% else %>

  <h1>There was an issue getting the weather data</h1>

<%end%>
